<!-- Footer -->
<footer> 
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-map-marker"></i> Contact:</h3>
                <p class="footer-contact">
                    184,A.G.Complex,W.G.C Road,<br>
                    Thoothukudi-628002  <br>
                    Phone: 0461-4229663 Mob: 9566718666<br>
                    Email: admin@skywayairtravels.com<br>
                </p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-external-link"></i> Links</h3>
                <p>  <a routerLink='/aboutus'> About ( Who we are )</a></p>
                <p> <a routerLink='/contactus'> Contact (Where we are )</a></p>
                <p> <a routerLink='/jobs'> Jobs (List of jobs)</a></p>            
            </div>
          <div class="col-md-4">
            <h3><i class="fa fa-heart"></i> Socialize</h3>
            <div id="social-icons">
                <a href="#" class="btn-group google-plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                  <a href="#" class="btn-group linkedin">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                  <a href="#" class="btn-group twitter">
                    <i class="fa fa-twitter"></i>
               </a>
                  <a href="#" class="btn-group facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
          </div>    
    </div>
  </div>
</footer>    
<div class="copyright text center">
    <p>&copy; Copyright 2014, <a href="#">Your Website Link</a>. Theme by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
</div>   
