<!doctype html>
<html lang="en">
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    </head>


    <body>

    <!-- Main Container -->
    <div class="row container-kamn">
            <img src="assets/img/Skyway_images/about-us.jpg" class="blog-post" alt="Feature-img" align="right"height="400" width="100%"> 
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9"> 
                <div class="blog-post">
                    <h1 class="blog-title">                       
                        “And Complete the Hajj and Umrah for Allah….”
                    </h1>
                    <br>
                    <img src="assets/img/Skyway_images/A86367D4-22AC-4B41-9F34-611F1449BB18.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                    <br>
                    <p>
                            We are providing Umra and Hajj services from anywhere from India.<br>
                            

                    </p>                   
                </div>
                <hr>

                <div class="blog-post">
                    <h1 class="blog-title">
                       " Visa Stamping"
                    </h1>
                    <img src="assets/img/Skyway_images/visa.jpg" alt="Feature-img" align="right" width="100%" class="blog-image"> 
                    <br>
                    <p>
                        We will provide visa stamping service to our customers
                    </p>                   
                </div>   
                <hr>

                <div class="blog-post">
                    <h1 class="blog-title">
                        "Air ticketing"
                    </h1>
                    <img src="assets/img/Skyway_images/air ticketing.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                    <p>
                        Need to book air tickets??
                        We are here. 
                        Book your air tickets through SKYWAY AIR TRAVELS 
                        We provide flight ticket booking to all over the coutries in the world 
                    </p>
                </div>
                <div class="blog-post">
                        <h1 class="blog-title">
                            "Consultancy"
                        </h1>
                        <img src="assets/img/Skyway_images/2.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                        <p>
                            Need a job in gulf?<br>
                            We are providing job opportunities in gulf countries like Saudi arabia ,Dubai etc <br>
                            Click the below link to see the job opportunities<br>
                        </p>                 
                </div>             
            </div>            
        </div>
    </div>
   
   <!--End Main Container -->     
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
   </body>
</html>
