<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Office</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <!-- Main Container -->
        <div class="row container-kamn">
            <img src="assets/img/Skyway_images/contact_us.png" class="blog-post" alt="Feature-img" align="right"height="400" width="100%"> 
        </div>
        <div class="container-fluid-kamn">
            <div class="row">              
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>Find us at:India</h4>
                    <p class="block-author">SKYWAY AIR TRAVELS</p>
                    <p>184,A.G. Complex, WGC Road ,Tuticorin-628002 </p>
                    <p>Phone:0461-4229663</p>
                    <p>Mobile No: 9566718666</p>
                    <em class="block-author">Email: admin@skywayairtravels.com</em> <br>
                    <br>
                    <p class="lead">Social Link</p><hr>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <a href="#"><img src="assets/img/social-icons/btn_skype.png" alt="Skype"></a>
                        Call us
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <a href="#"><img src="assets/img/social-icons/btn_facebook.png" alt="Facebook"></a>
                        Like us
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        <a href="#"><img src="assets/img/social-icons/btn_twitter.png" alt="Twitter"></a>
                        Follow us
                    </div>
                    <br>
                </div>
                <div class="col-lg-5">
                    <div class="row">              
                        <div class="col-lg-4 col-lg-offset-1">
                            <h4>Saudi Arabia</h4>
                            <p class="block-author">SKYWAY AIR TRAVELS</p>
                            <p>B.O: Al-BadraneyNeighbourhood,</p>
                            <p>Madina Munawwarah,SaudiArabia.</p><br>                                   
                            <p>Mobile No:00966555310133</p>
                            <em class="block-author">Email: admin@skywayairtravels.com</em> <br>
                            <br>                    
                        </div>
                     </div>
                </div>    
            </div>
        </div>    
                
    <!--End Main Container -->   
  

