<!doctype html>
<html lang="en">
    <head>   
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/skywaylogo.ico"type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        
    </head>
  <body>

    <!-- Header -->
        
    

    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="assets/img/Skyway_images/tenor.gif" style="width:1920px;height:550px;"alt="Image of first carousel">
                            <div class="carousel-caption"></div>
                        </div>
                        <!-- End Slide 1 -->
                        <div class="item">
                                <img src="assets/img/Skyway_images/kaba.jpg"  style="width:1920px;height:700px;"alt="Image of second carousel">
                                <div class="carousel-caption"></div>
                            </div>
                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="assets/img/Skyway_images/intro-image.jpg"  style="width:1920px;height:700px;"alt="Image of second carousel">
                            <div class="carousel-caption"></div>
                        </div>
                        <!-- End Slide 2 -->
                        <!-- Begin Slide 3 -->
                        <div class="item">
                          <img src="assets/img/Skyway_images/dubai-city-hd_010529728_138.jpg"  style="width:1920px;height:700px;"alt="Image of second carousel">
                          <div class="carousel-caption"></div>
                        </div>
                        <!-- End Slide 3 -->
                       <!-- Begin Slide 4 -->
                       <div class="item">
                        <img src="assets/img/Skyway_images/skyscraper-2560x1440-downtown-dubai-hd-2875.jpg"  style="width:1920px;height:700px;"alt="Image of second carousel">
                        <div class="carousel-caption"></div>
                      </div>
                      <!-- End Slide 4 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
 
    <div class="row">
            <div class="container"> 
              
                    <h1 class="blog-title">                       
                        List of job openings
                     </h1>
                    <br>                    
                    <p>
                        Please contact 0461-4229663 or 9566718666 for job related queries
                    </p>    
                    <hr>   
                    
                </div>            
            </div>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>

